ZMK_UNICODE_SINGLE(bd_l_h, N2, N5, N0, N0)  // ─ Box Drawings Light Horizontal
ZMK_UNICODE_SINGLE(bd_l_v, N2, N5, N0, N2)  // │ Box Drawings Light Vertical
  
ZMK_UNICODE_SINGLE(bd_l_dr, N2, N5, N0, C)  // ┌ Box Drawings Light Down and Right
ZMK_UNICODE_SINGLE(bd_l_dl, N2, N5, N1, N0) // ┐ Box Drawings Light Down and Left
ZMK_UNICODE_SINGLE(bd_l_ur, N2, N5, N1, N4) // └ Box Drawings Light Up and Right
ZMK_UNICODE_SINGLE(bd_l_ul, N2, N5, N1, N8) // ┘ Box Drawings Light Up and Left

ZMK_UNICODE_SINGLE(bd_l_vr, N2, N5, N1, C)  // ├ Box Drawings Light Vertical and Right
ZMK_UNICODE_SINGLE(bd_l_vl, N2, N5, N2, N4) // ┤ Box Drawings Light Vertical and Left
ZMK_UNICODE_SINGLE(bd_l_dh, N2, N5, N2, C)  // ┬ Box Drawings Light Down and Horizontal
ZMK_UNICODE_SINGLE(bd_l_uh, N2, N5, N3, N4) // ┴ Box Drawings Light Up and Horizontal
ZMK_UNICODE_SINGLE(bd_l_vh, N2, N5, N3, C)  // ┼ Box Drawings Light Vertical and Horizontal
  
