#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <zmk-helpers/helper.h>
#include "keylabels.h"

#define LEFT_HAND_KEYS  LT3 LT2 LT1 LM4 LM3 LM2 LM1 LM0 LB4 LB3 LB2 LB1 LB0
#define RIGHT_HAND_KEYS RT1 RT2 RT3 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMB_KEYS      LH0 LH1 RH0 RH1

#define BSE 0
#define AP2 1
#define NAV 2
#define NUM 3
#define GME 4

// behavior configuration

&caps_word { // enables kebab and snake case
	continue-list = <UNDER MINUS BSPC>;
};

&lt {
	flavor = "balanced";
	tapping-term-ms = <250>;
	quick-tap-ms = <150>;
	require-prior-idle-ms = <100>;
};

&mt {
	flavor = "balanced";
	tapping-term-ms = <300>;
	quick-tap-ms = <180>;
	bindings = <&kp>, <&kp>;
};


ZMK_HOLD_TAP(lm,
	flavor = "balanced";
	require-prior-idle-ms = <100>;
	tapping-term-ms = <350>;
	quick-tap-ms = <200>;
	hold-trigger-key-positions = <RIGHT_HAND_KEYS THUMB_KEYS>;
	hold-trigger-on-release;
	bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(rm,
	flavor = "balanced";
	require-prior-idle-ms = <100>;
	tapping-term-ms = <350>;
	quick-tap-ms = <200>; 
	hold-trigger-key-positions = <LEFT_HAND_KEYS THUMB_KEYS>;
	hold-trigger-on-release;
	bindings = <&kp>, <&kp>;
)

ZMK_MACRO(M_qu, bindings = <&kp Q &kp U> ;)
ZMK_MACRO(au, bindings = <&kp A &kp U> ;)

ZMK_MOD_MORPH(min_equ,  bindings = <&kp MINUS>, <&kp EQUAL>; mods = <(MOD_RSFT)>;)
ZMK_MOD_MORPH(com_sem,  bindings = <&kp COMMA>, <&kp SEMI>;  mods = <(MOD_RSFT)>;)
ZMK_MOD_MORPH(sqt_dqt,  bindings = <&kp SQT>,   <&kp DQT>;   mods = <(MOD_RSFT)>;)
ZMK_MOD_MORPH(fsl_bsl,  bindings = <&kp FSLH>,  <&kp BSLH>;  mods = <(MOD_RSFT)>;)
ZMK_MOD_MORPH(dot_star, bindings = <&kp DOT>,   <&kp AT>;    mods = <(MOD_RSFT)>;)

//        NAME        OUTPUT          COMBOS    LAYERS TIME IDLE
ZMK_COMBO(z,        &kp Z,        RT1 RT3,         BSE,  45,   0) // alpha combos
ZMK_COMBO(v,        &kp V,        RT2 RT3,         BSE,  45,   0)
ZMK_COMBO(qu,       &M_qu,        RT1 RT2,         BSE,  50,   0)
ZMK_COMBO(q,        &kp Q,        RM1 RM4,         BSE,  45,   0)
ZMK_COMBO(j,        &kp J,        RB2 RB3,         BSE,  50,   0)
ZMK_COMBO(au,       &au,          RB2 RB3,         BSE,  50,   0)

ZMK_COMBO(tab,      &kp TAB,      RM1 RM2,         BSE,  35, 180) // control chars
ZMK_COMBO(under,    &kp UNDER,    RM1 RM3,         BSE,  45, 100)
ZMK_COMBO(bspc,     &kp BSPC,     RM2 RM3, NUM BSE NAV,  65, 100)
ZMK_COMBO(delete,   &kp DEL,      RM3 RM4, NUM BSE NAV, 140, 350)
ZMK_COMBO(ret,      &kp RET,      LM2 LM3, NUM BSE NAV,  55, 100)
ZMK_COMBO(esc,      &kp ESC,      LM1 LM3, NUM BSE NAV,  55, 180)

ZMK_COMBO(gaming,   &tog GME,     LT1 RT1,     GME BSE,  50, 250)
ZMK_COMBO(caps,     &caps_word,   LM1 RM1,         BSE,  50, 100)

ZMK_COMBO(dolar,    &kp DLLR,     LM0 LT1,         BSE,  50,   0) // symbols
ZMK_COMBO(hash,     &kp HASH,     RM0 RT1,         BSE,  90, 150)
ZMK_COMBO(colon,    &kp COLON,    LT1 LT2,         BSE,  50, 250)
ZMK_COMBO(semi,     &kp SEMI,     LT2 LT3,         BSE, 100, 180)
ZMK_COMBO(blsh,     &kp BSLH,     LM0 LM1,         BSE, 150, 250)
ZMK_COMBO(caret,    &kp CARET,    LB0 LM1,         BSE, 150, 250)
ZMK_COMBO(percent,  &kp PRCNT,    RB1 RB3,         BSE,  90, 250)
ZMK_COMBO(grave,    &kp GRAVE,    LT1 LT2,         BSE,  50, 250)
ZMK_COMBO(plus,     &kp PLUS,     RB0 RM1,         BSE,  80, 250)
ZMK_COMBO(tilde,    &kp TILDE,    LB0 LB1,         BSE,  80, 250)
ZMK_COMBO(dqt,      &kp DQT,      LT1 LT3,         BSE,  80, 250)

ZMK_COMBO(amps,     &kp AMPS,     RM0 RB0,         BSE,  50, 200)
ZMK_COMBO(pipe,     &kp PIPE,     LM0 LB0,         BSE,  50,   0)
ZMK_COMBO(lpar,     &kp LPAR,     LM1 LB1,         BSE,  50, 200)
ZMK_COMBO(rpar,     &kp RPAR,     RM1 RB1,         BSE,  50,   0)
ZMK_COMBO(lbkt,     &kp LBKT,     LT1 LM1,         BSE,  50, 200)
ZMK_COMBO(rbkt,     &kp RBKT,     RT1 RM1,         BSE,  50,   0)
ZMK_COMBO(lbrc,     &kp LBRC,     LM2 LB2,         BSE,  50, 200)
ZMK_COMBO(rbrc,     &kp RBRC,     RM2 RB2,         BSE,  50,   0)
ZMK_COMBO(lt,       &kp LT,       LT2 LM2,         BSE,  50, 200)
ZMK_COMBO(gt,       &kp GT,       RT2 RM2,         BSE,  50,   0)
ZMK_COMBO(lexcl,    &kp RA(N1),   LT3 LM3,         BSE,  50, 200)
ZMK_COMBO(excl,     &kp EXCL,     RT3 RM3,         BSE,  50,   0)
ZMK_COMBO(Lqmark,   &kp RA(FSLH), LM3 LB3,         BSE,  50, 200)
ZMK_COMBO(Rqmark,   &kp QMARK,    RM3 RB3,         BSE,  50,   0)

ZMK_LAYER(alpha,
				&sqt_dqt		&fsl_bsl		&dot_star									&kp M			&kp G			&kp W
&lm LALT C		&lm LCTRL I		&lm LGUI E		&lm LSHFT A		&com_sem	&kp K			&rm RSHFT H		&rm RGUI T		&rm LCTRL N		&rm RALT S
&kp B			&kp Y			&kp O			&kp U			&min_equ	&kp X			&kp L			&kp D			&kp P			&kp F
								&sl AP2			&lt NAV SPACE								&lt NUM R		&sl AP2
)

ZMK_LAYER(alpha2,
				&none			&none			&none										&kp RA(U)		&none			&none
&kp RA(C)		&kp RA(B)		&kp RA(G)		&kp RA(X)		&none		&none			&none			&kp RA(N)		&none			&none
&none			&none			&kp RA(DOT)		&kp RA(J)		&none		&none			&kp RA(SEMI)	&none			&none			&none
								&none			&none										&none			&none
)

ZMK_LAYER(navigation,
				&none			&none			&none										&none			&none			&none
&none			&kp LALT		&kp LCTRL		&kp LSHIFT		&none		&kp LC(PLUS)	&kp LEFT		&kp DOWN		&kp UP			&kp RIGHT
&none			&none			&none			&none			&none		&kp LC(MINUS)	&kp HOME		&kp PG_DN		&kp PG_UP		&kp END
								&none			&none										&none			&none
)

ZMK_LAYER(numbers,
				&kp RA(N3)		&kp RA(N2)		&kp RA(SEMI)								&kp RA(N5)		&kp RA(N4)		&kp RA(LS(N5))
&kp N6			&kp N4			&kp N2			&kp N0			&none		&none			&kp N1			&kp N3			&kp N5			&kp N7
&none			&none			&none			&kp N8			&none		&none			&kp N9			&none			&none			&none
								&none			&none										&none			&none
)

ZMK_LAYER(gaming, 
				&kp Q			&kp UP			&kp E  										&kp COMMA		&kp FSLH		&kp J
&kp TAB			&kp LEFT		&kp DOWN		&kp RIGHT		&kp ESC		&kp BSPC		&kp A			&kp E			&kp I			&kp M
&kp LSHFT		&kp X			&kp C			&kp V			&kp TAB		&kp RET			&kp U			&kp O			&kp Y			&kp RSHFT
								&kp X			&kp R										&kp SPACE		&kp Z
)


